#container{
    display: flex;
    justify-content: space-between;

    #tabsAndP{
        #tab{
            font-size: 25px;
            &:hover{
                cursor: pointer;
            }
        }
        p {
            font-size: 12px;
            padding-left: 5px;
        }
    }
    #menuOptions{
        .option {
            font-size: 15px;
            margin-left: 20px;
            margin-right: 20px;
            &:hover{
                cursor: pointer;
                color: blue;
            }
        }
        #postAJob{
            background-color:#ff4081;
            border-radius: 25px;
            color:white;
        }
        #iconicButton{
            border: none;
        }
    }
}