@import '../../../../../styles/variables';

#container{
    width: 100%;
    
    .myColumn{
        width: 100%;
        min-height: $contentHeightForNORM;
    }
    .heightForSM{
        min-height: $contentHeightForSM; 
    }   
}

.light{
    background-color: $globalBackgroundColor;
}
.dark{
    background-color: $globalBackgroundColor_dark;
}

