@import '../../../../../styles/variables';

#container{
    width: 100%;
    background-color: $globalBackgroundColor;
    .myColumn{
        width: 100%;
        min-height: $contentHeightForNORM;
    }
    .heightForSM{
        min-height: $contentHeightForSM; 
    }   
}

