@import '../../../../../styles/overrides';
@import '../../../../../styles/variables';

#container{
    @extend %authLayout;
    background-color: $globalBackgroundColor;
    #frame{
        #main{
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                cursor: pointer;
            }
        }
        .myInput{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .leftControllImage{
                @extend %leftControllImage;
            }
        }

        #myRow{
            width: 100%;
            display: flex;
            justify-content: center; 
            margin-top: 20px;
            margin-bottom: 20px;
            #registerButtonDiv{
                width: 60%;
                #register{
                    @extend %myThemeButton;
                    width: 100%;
                }
            }
        }

    }
    
    
}