<div id="container">
    <div id="frame" fxLayout="column">
        <h2 id="main">
            <a [routerLink]="appRouterUrls.OFFERS">justjoin.it</a>
        </h2>
        <div class="myInput" fxLayout="row">
            <mat-icon class="leftControllImage">account_circle</mat-icon>
            <mat-form-field>
                <input class="realInput" matInput placeholder="Name">
            </mat-form-field>
        </div>
        <div class="myInput" fxLayout="row">
            <mat-icon class="leftControllImage">account_circle</mat-icon>
            <mat-form-field>
                <input class="realInput" matInput placeholder="Surname">
            </mat-form-field>
        </div>
        <div class="myInput" fxLayout="row">
            <mat-icon class="leftControllImage">email</mat-icon>
            <mat-form-field>
                <input class="realInput" matInput placeholder="Email">
            </mat-form-field>
        </div>
        <div class="myInput" fxLayout="row">
            <mat-icon class="leftControllImage">enhanced_encryption</mat-icon>
            <mat-form-field>
                <input class="realInput" type="password" matInput placeholder="Password">
            </mat-form-field>
        </div>
        <div class="myInput" fxLayout="row">
            <mat-icon class="leftControllImage">enhanced_encryption</mat-icon>
            <mat-form-field>
                <input class="realInput" type="password" matInput placeholder="Repeat password">
            </mat-form-field>
        </div>
        <div id="myRow">
            <div id="registerButtonDiv">
                <button id="register" mat-stroked-button>Register</button>
            </div>
        </div>
    </div>
</div>