<div id="container">
    <div id="frame" #frame fxLayout="column">
        <div id="functionalRow" fxLayout="row">
            <button id="back" class="functionalButton" (click)="onBackClick()">
                <mat-icon>navigate_before</mat-icon>
            </button>
            <button id="media" class="functionalButton">
                <mat-icon>share</mat-icon>
            </button>
        </div>
        <div id="companyInfoRow" fxLayout="row">
            <div id="responsivePart" fxLayout="row">
                <button id="logo">
                    <img src={{offer.companyLogo}} alt="logo"/>
                </button>
                <div id="infos">
                    {{ getMoney() }}<br>   
                    <b id="position">{{ offer.position }}</b><b *ngIf="this.offer.isHidden"> (offer blocked)</b><br>
                    {{ getAddress() }}
                </div>
            </div>
            <div>
                <button id="apply" fxHide.lt-md (click)="onApplyClick()">
                    <mat-icon>email</mat-icon>
                    <div id="label">
                        Apply
                    </div>
                </button>
            </div>
        </div>
        
        
        

    </div>
</div>