.container {
  display: flex;
}

.logo {
  width: 30%;
}

.subContainer {
  width: 100%;
}

.myRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.salaryDate {
  margin-left: auto;
}

.tags {
  margin-left: auto;
}

a {
  text-decoration: none;
  color: black;
}
