.container {
  width: 100%;
  display: flex;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  min-height: 70px;
  max-height: 70px;
  border: none;
}

.container:hover {
  cursor: pointer;
}

.container:focus {
  outline: 0;
}

#frame {
  width: 5px;
  background-color: green;
  border-radius: 10px;
}

#logo {
  width: 80px;
  align-self: center;
}

#rows {
  width: 85%;
}

.myRow {
  height: 50%;
  max-height: 50%;
  margin-left: 10px;
}

.position {
  color: darkslategrey;
  align-self: center;
  font-size: 20px;
}

.subContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 15px;
}

#money {
  color: #1ec66c;
  font-size: 18px;
  align-self: center;
}

.date {
  align-self: center;
  margin-left: 10px;
}

.tag {
  background-color: white;
  border-radius: 15px;
  border-width: 1px;
  border-style: solid;
  border-color: #e5e5e5;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-size: 13px;
  margin-left: 5px;
  align-self: center;
  color: grey;
}

.tagBackground {
  background-color: #d9ddfc;
  color: #4256ef;
}

.icon {
  align-self: center;
  color: grey;
  transform: scale(0.7);
}

.label {
  font-size: 12px;
  white-space: nowrap;
}

#company {
  align-self: center;
  color: grey;
}

#address {
  padding-left: 10px;
  color: grey;
  align-self: center;
}

.positionForSM {
  color: darkslategrey;
  align-self: center;
  font-size: 20px;
  margin-top: -10px;
}

.subContainerForSM {
  margin-top: -10px;
  justify-content: space-between;
  height: 50%;
  max-height: 50%;
}
