@import '../../../../../../../styles/variables';
@import '../../../../../../../styles/overrides';

.container{
    @extend %offerButtonContainer;
    #frame{
        @extend %offerFrame;
    }
    #logo{
        @extend %offerLogo;
    }
    #rows{
        @extend %offerRows;

        .myRow{
            @extend %offerMyRow;

            #position{
                @extend %offerPosition;
            }
            #money{
                @extend %offerMoney;
            }
            #date{
                @extend %offerDate;
            }
            .tag{
                @extend %offerTag;
            }
            .tagBackground{
                @extend %offerTagBackground;
            }
            .icon{
                align-self: center;
                color: $imageColor;
                transform: scale(0.7);
            }
            .label{
                font-size: 12px;
                white-space: nowrap;
            }
            #company{
                align-self: center;
                color: $buttonFontColor;
            }
            #address{
                padding-left: 10px;
                color: $buttonFontColor;
                align-self: center;
            }
        }
    }
}









