//dimensions
$globalHeight: 100vh;

$navigationHeight: 9vh;
$navigationPaddingTop: 20px;

$filtrationHeightForNORM: 16vh;
$filtrationHeightForSM: 9vh;

$contentHeightForNORM: 75vh;
$contentHeightForSM: 82vh;

$sidenavWidth: 250px;

$imagePaddingValue: 7px;

//colors
$globalBackgroundColor: #EEEEEE;

$navigationBackgroundColor: white;

$buttonBackgroundColor: white;
$buttonFontColor: grey;

$valueColor: black;

$imageColor: grey;
//themes

$themes:(
    default:(
        globalbg: green
    ),
    dark:(
        globalbg: black
    )

);

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}
