//dimensions
$globalHeight: 100vh;

$navigationHeight: 9vh;
$navigationPaddingTop: 20px;

$filtrationHeightForNORM: 16vh;
$filtrationHeightForSM: 9vh;

$contentHeightForNORM: 75vh;
$contentHeightForSM: 82vh;

$sidenavWidth: 250px;

$imagePaddingValue: 7px;

//colors
$globalBackgroundColor: #f3f6f8;

$navigationBackgroundColor: white;

$buttonBackgroundColor: white;
$buttonFontColor: grey;

$imageColor: grey;


