//dimensions
$globalHeight: 100vh;

$navigationHeight: 9vh;
$navigationPaddingTop: 20px;

$filtrationHeightForNORM: 16vh;
$filtrationHeightForSM: 9vh;

$contentHeightForNORM: 75vh;
$contentHeightForSM: 82vh;

$sidenavWidth: 250px;

$imagePaddingValue: 7px;

//colors
$globalBackgroundColor: #f3f6f8;
$globalBackgroundColor_dark: #393939;

$navigationBackgroundColor: white;
$navigationBackgroundColor_dark:#595959;

$fontColor: #99a1ab;
$fontColor_dark:#b7c4d0;



$buttonBackgroundColor: white;
$buttonFontColor: grey;

$valueColor: black;

$imageColor: grey;
//themes

