@import "../../../../styles/variables";  

#container{
    .mat-toolbar{
        padding-top: $navigationPaddingTop; 
        min-height: $navigationHeight;
    }
    .light{
        background-color: $navigationBackgroundColor;
        color: $fontColor;
    }
    .dark{
        background-color: $navigationBackgroundColor_dark;
        color: $fontColor_dark;
    }
}
