@import "../../../../styles/variables";

#container{
    .mat-toolbar{
        @include themed() {
            background-color: t('globalbg');
        }
        background-color: $navigationBackgroundColor;
        padding-top: $navigationPaddingTop; 
        min-height: $navigationHeight;
    }
}
