.mat-toolbar{
    background-color: white;
    padding-top:20px;
    min-height: 9vh;
}
.container{
    display: flex;
    min-height: 100%;
}
p {
    font-size: 12px;
    padding-left: 5px;
}
a {
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
a:hover{
    cursor: pointer;
    color: blue;
}
#postAJob{
    background-color:#ff4081;
    border-radius: 25px;
    color:white;
}
#menuOptions{
    margin-left: auto;
}
#tab{
    font-size: 25px;
}
#tab:hover{
    cursor: pointer;
}
#dayNightOption{
    display:flex;
    justify-content: center;
    margin-left: auto;
}
#navForNORM{
    display: flex;
    align-self: center;
}
#leftControllImage{
    padding-right:7px;
}
#rightControllImage{
    padding-left:7px;
}
#iconicButton{
    border: none;
}
