@import '../../../../../styles/variables';

#container{
    min-height: $filtrationHeightForNORM; 
    background-color: $globalBackgroundColor;
    display: flex;
    justify-content: center;
    
    .myRow{
        display: flex;
        justify-content: space-between;
        padding: 5px;
        margin-right: 30px;
    }
}