<mat-sidenav-container>
    <mat-sidenav #sidenav role="navigation" position="end">
        <app-sidenav (sidenavClose)="sidenav.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav #sidenavForSM role="navigation">
        <app-sidenav (sidenavClose)="sidenavForSM.close()"></app-sidenav>
    </mat-sidenav>
    <mat-sidenav-content>
        <div id="container">
            <div id="navigation">
                <app-navigation-menu 
                    id="nav" 
                    (sidenavToggle)="sidenav.toggle()"
                    (sidenavToggleForSM)="sidenavForSM.toggle()">
                </app-navigation-menu>
            </div>
            <div id="filtration" >
                <div [ngClass.gt-sm]="'filtrationForNORM'" [ngClass.lt-md]="'filtrationForSM'">
                    <app-filter id="filter"></app-filter>
                </div> 
            </div>
            <div id="content" >
                <div [ngClass.gt-sm]="'contentForNORM'" [ngClass.lt-md]="'contentForSM'">
                    <router-outlet></router-outlet>
                </div>
            </div>           
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>









