#matToolbarForNORM {
  min-height: 16vh;
}

.container {
  display: flex;
  min-height: 100%;
}

.subContainer {
  width: 100%;
}

a {
  padding: 20px;
}

.options {
  margin-left: auto;
  padding-right: 30px;
}

#dayNightOption {
  display: flex;
  margin-left: auto;
  padding-right: 30px;
}

#leftControllImage {
  padding-right: 7px;
}

#rightControllImage {
  padding-left: 7px;
}

.expandableButton {
  padding-left: 10px;
  padding-right: 10px;
  color: grey;
  background-color: white;
  border-radius: 25px;
  margin-left: 7px;
}

.mat-menu-item {
  display: flex;
  justify-content: center;
  height: 35px;
  color: grey;
}

#salaryMenu {
  min-height: 100px;
}

.myRow {
  padding-bottom: 15px;
}

.myButton {
  font-size: 12px;
  margin-left: 7px;
  color: grey;
  background-color: white;
}

.filterButton {
  border-radius: 25px;
}

.iconicButton {
  border: none;
  margin-left: 7px;
  background-color: transparent;
}

.iconicButton:hover {
  cursor: pointer;
}

.iconicButton:focus {
  outline: 0;
}

.buttonChecked {
  color: white;
  background: linear-gradient(to right, #ba68c8, #9c27b0);
}

.hideElement {
  display: none;
}

#matToolbarForSM {
  display: flex;
  width: 100%;
  min-height: 10vh;
}

.columnForSM {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.selectForSM {
  width: 100%;
  height: 75%;
  align-self: center;
  background-color: white;
  color: grey;
  padding-left: 15px;
  border: none;
  font-size: 20px;
  margin: 5px;
  border-radius: 5px;
}

.selectForSM:focus {
  outline: 0;
}

select {
  -webkit-appearance: none;
}
