<!--a [routerLink]="appRouterUrls.LOGIN">login</a-->
<div class="container">
    <mat-toolbar>
        <div class="subContainer">
            <div class="myRow">
                <div class="cities">
                        <a >Warszawa</a>
                        <a >Gdansk</a>    
                </div>
                <div class="style">
                        <a >DAY/NIGHT</a>
                </div>
            </div>
            <div class="myRow">
                <div class="technologies">
                        <a >JavaScript </a>
                        <a >Java </a>
                        <a >C++ </a>
                </div>  
                <div class="options">
                        <a >salary</a>
                        <a >experience</a>
                </div>
            </div>   
        </div>
    </mat-toolbar>
</div>