@import '../../../../../styles/overrides';
@import '../../../../../styles/variables';

#container{
    @extend %authLayout;
    background-color: $globalBackgroundColor;
    #frame{
        #main{
            a{
                text-decoration: none;
                color: black;
            }
            a:hover{
                cursor: pointer;
            }
        }
        .myInput{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            .leftControllImage{
                @extend %leftControllImage;
            }
            .error{
                @extend %error;
            }
        }

        #myRow{
            margin-top: 20px;
            width: 100%;
            display: flex;
            justify-content: space-around; 
            #remember{
                font-size: 10px;
            }
            #loginButtonDiv{
                #login{
                    @extend %myThemeButton;
                }
            }
        }

        .myAnchor{
            font-size: 12px;
            color: blue;
            text-decoration: none;
            &:hover{
                cursor: pointer;
            }
        }
        #register{
            margin-top: 20px;
        }
    }
}