@import '../../../../../styles/variables';

#container{
    .filterButton{
        font-size: 12px;
        margin-left: 7px;
        color: $buttonFontColor;
        background-color:$buttonBackgroundColor;
        border-radius: 25px;
    }
    .buttonChecked{
        color: white;
        background: linear-gradient(to right, #ba68c8, #9c27b0);
    }
    .hideElement{
        display: none;
    }
    .iconicButton{
        border: none;
        margin-left: 7px;
        background-color: transparent;
    }
    .iconicButton:hover{
        cursor: pointer;
    }
    .iconicButton:focus{
        outline: 0;
    }
}
.mat-menu-item{
    display: flex;
    justify-content: center;
    height: 35px;
    color: $buttonFontColor;
    background-color: $buttonBackgroundColor;
}

