<div>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>business_center</mat-icon>
        <span class="nav-caption">Employer Panel</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>people</mat-icon>
        <span class="nav-caption">JustJoinIT</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>wifi</mat-icon>
        <span class="nav-caption">RSS</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>attachment</mat-icon>
        <span class="nav-caption">Terms</span>
    </a>
    <a mat-list-item (click)="onSidenavClose()">
        <mat-icon>attachment</mat-icon>
        <span class="nav-caption">Policy</span>
    </a>
</div>