<div class="container" fxLayout="row" [routerLink]="[appRouterUrls.OFFERS, tag]">
    <div id="frame" #frame>
    </div>
    <div id="logo">
            <img src={{offer.companyLogo}} alt="logo"/>
    </div>
    <div id="rows">
        <div class="myRow" fxLayout="row">
            <div id="position">
                <p >{{ offer.position }}</p>
            </div>
        </div>
        <div class="myRow" fxLayout="row">
            <div id="money">
                <p>{{ getMoney() }}</p>
            </div>
            <div id="date">
                <p class="tag" [ngClass]="{tagBackground: offersService.getDate(offer)=='New'}">{{ offersService.getDate(offer) }}</p>
            </div>
        </div>
    </div>
</div>