<div id="container" *ngIf="!error">
    <app-company-info (apply)="apply()"></app-company-info>
    <app-extra-info></app-extra-info>
    <app-sheet [title]="'Required skills'">
        <app-skills></app-skills>
    </app-sheet>
    <app-sheet [title]="'Description'">
        <div id="description">
            {{offer.description}};
        </div>  
    </app-sheet>
    <app-sheet [title]="'Apply for the job'" id="applyForm">
        <apply-form></apply-form>
    </app-sheet>
</div>
<div id="error" *ngIf="error"><h3>sorry we Could not find this offer</h3></div>