@import 'styles/_overrides';
@import 'styles/_variables';
@import '../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
  }

